# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-wheel-metadata/
.eggs/
*.egg-info/
*.egg

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
